* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px;
  line-height: 1.5;
  width: 70%;

}

/* ---- button ---- */

.button {
  display: inline-block;
  border-radius: 4px;
  background: #e5e5e5;
  color: #222;
  font: 14px/18px; 
  font-family: "source_sans_problack", "source sans pro", sans-serif;
  letter-spacing: 1px;
  padding:10px 4px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  border:none;
}


a {
  color: #555;
  font-size: 15px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  
}

a:hover {
  color: #555;
  
  
}

.button:hover {
  background-color: #ccc;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
}

.button:active,
.button.is-checked {
  background-color: #333;
  color: #fff;
}
}

.button.is-checked {
  color: #fff;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  background-color: #333;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  background-color: #333;
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- #element-item ---- */

#element-item {
  position: relative;
  float: left;
  font-family: sans-serif;
  height: auto;
  margin: 2px;
  padding: 4px;
  background: rgba( 253, 253, 253, 0.9);
  color: #5C564B;
  width: 31.33333%! important;

}


.credit {
  clear: both;
  font-size: 11px;
  color: #666;
}

@media (max-width: 500px) {
   #element-item {
  width: 48%! important;
}

h2 {
  font-size: 24px;
}
.button {
  font-size: 13px;
}
}

@media (max-width: 320px) {
   #element-item {
  width: 100%! important;
}

h2 {
  font-size: 24px;
}

.button {
  font-size: 13px;
}
}



#element-item > * {
 
}



#element-item .readmore, #element-item .readmore a {
  font-weight: 700;
  /*color: #ED204C;*/
  color: #79ce00;
  font-size: 12px;
    text-align: center;

}

#element-item .description {
  padding-top: 5px;
  padding-bottom: 5px;
    text-align: center;
}


#element-item .boldsubhed {
font-size: 13px;
font-weight: 700;
color: #666;
  text-align: center;

}
#element-item .name {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, .5);
}

#element-item .hidden {
  display: none;
}


.is-checked {
  background-color: #ebebeb;
}


#element-item .colorsubhed {

  font-weight: 700;
  /*color: #ED204C;*/
  color: #800000;


}

#element-item .location {
  font-weight: 700;
}

#element-item .date, #element-item .description  {
  font-size: 13px;

}



a:active {
  text-decoration: none;

}

.explainer {
  padding: 10px 0;
}


/* ---- #tooltip ---- */


#element-item .tooltip {
  background: #666666;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 15px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
#element-item .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/*CSS Triangles33*/
#element-item .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #666666 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
#element-item:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 #element-item .tooltip {
  display: none;
}

.lte8 .#element-item:hover .tooltip {
  display: block;
}

