body {
  font-family: sans-serif;
  margin: 0 10px;
  line-height: 1.5;


}
h2 {
  font-weight: 700;
}

.credit {
  margin-top: 20px;
  font-size: 11px;
  color: #666;
}

.explainer {
  padding: 10px 0;
}

.updated {
  font-weight: bold;
  font-size: 12px;
}






a {
  color: #555;
  font-size: 15px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  
}

a:hover {
  color: #555;
  
  
}

a:active {
  text-decoration: none;

}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #ED204C;
}
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
  background-color: #ED204C;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  background-color: #ED204C;
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- #element-item ---- */

#element-item {
  position: relative;
  float: left;
  font-family: sans-serif;
  width: 24.5%! important;
  height: auto;
  margin: 2px;
  padding: 10px;
  border: 1px solid #616161;
  background: rgba( 253, 253, 253, 0.9);
  color: #5C564B;
  box-shadow: 1px 1px 1px #999999;
}

#element-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



#element-item .category {
  display: inline-block;
  font-size: 15px;
  background-color: #800000;
  padding: 5px 25px;
  color: #fff;
  width: auto;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 10px;

}


#element-item img {
  border: 1px solid #333;
}


#element-item .readmore, #element-item .readmore a {
  font-weight: 700;
  color: #800000;
  font-size: 12px;
}

#element-item .description {
  padding-top: 10px;
  padding-bottom: 10px;
}


#element-item .boldsubhed {
font-size: 13px;
font-weight: 700;
color: #666;

}
#element-item .name {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;

}

.is-checked {
  background-color: #ebebeb;
}


#element-item .colorsubhed {
  font-weight: 700;
  color: #800000;

}

#element-item .location {
  font-weight: 700;
}

#element-item .date, #element-item .description  {
  font-size: 13px;

}

.page-header {
  padding: 0px;
  margin: 0px;
}





@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
  }
}

@media (max-width: 850px) {
   #element-item {
  width: 32%! important;
}

}

@media (max-width: 550px) {
   #element-item {
  width: 47%! important;
}

h2 {
  font-size: 1.6em
}
.btn-default  {
  font-size: 0.9em;
}

body {
  font-size: 1.0em;
}

#element-item .boldsubhed, #element-item .description {
font-size: 1.0em;

}
#element-item .category {
  font-size: 1.2em;
  padding: 5px 15px;
}
#element-item .name {

  font-size: 1.1em;

}
}

@media (max-width: 320px) {
   #element-item {
  width: 100%! important;
}


.btn-default {
  font-size: 0.7em;
}

body {
  font-size: 1.3em;
}

h2 {
  font-size: 1.4em;
}

#element-item img {
  height: 120px;


}

}